
.curriculum{
	width: 78%;
	height: 100%;
	float: left;
	text-align: center;
}
.c-table{
	border-collapse: collapse;
}
.c-table tr:nth-child(odd){
	background: #ccc;
}
.c-table td{
	font-size: 20px;
	width: 200px;
	height: 90px;
	border: 0px;
}